* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
button {
    width: 80px;
    height: 60px;
     font-size: 200%;
}
#margen {
    width: 340px;
    border: solid 4px;
    overflow: hidden;
    margin: auto;
    background-color: black;
    border-color: grey;
    
}
#operacion{
    
    border-color: grey;
    border-width: 1px;
    border-style: solid;
    width: 320px;
    height: 60px;
    margin: auto;
    overflow-x: scroll;
    background-color: white;
    text-align: right;
    font-size: 160%
}
table {
    table-layout: fixed;
}
body {
    background-color: lightpink;
}
#define {
    /*font-style: oblique; */
    font-weight: 500;
}